.about{
    display: flex;
    flex-direction: column;
    width: 500px;
}
ul{
    padding: 0;
    width: 600px;
    list-style: none;
}
h1{
    display: block;
    width: 100%;
    border: 1px solid #000;
    margin: 0;
}
h2{
    display: block;
    width: 100%;
    border: 1px solid #9f9fff;
    margin: 0;
    padding: 0;
}
li{
    margin-bottom: 25px;
    padding: 0;
}
.gallery{
    width: 600px;
    padding: 0;
}
.guestbook{
    width: 600px;
    padding: 0;
}
body{
    display: flex;
    justify-content: space-around;
}
p{
    display: block;
    width: max-content;
    border: 1px solid #ff0047;
    margin: 0;
    padding: 0;
}

h5{
    font-size: 16px;
}